### Summarize field data

In [1]:
import sys, os
import pandas as pd
import numpy as np

In [2]:
#Read the file
theFieldFN = '../Data/BeetleData/AllFieldData.csv'
thePinningFN = '../Data/BeetleData/BeetlePinningSummary.csv')
outFN = '../Data/BeetleData/BeetleSummary.csv'

In [3]:
dfField = pd.read_csv(theFN)

In [12]:
#Summarize static plot attributes into a data frame
grpPlot = dfField.groupby(by='plotID')
dfAttributes = grpPlot.agg({'nlcdClass':'first',
                              'decimalLatitude':'mean',
                              'decimalLongitude':'mean',
                              'elevation':'mean'})
dfAttributes.head()

          decimalLongitude  elevation  decimalLatitude        nlcdClass
plotID
BART_002        -71.272850      550.8        44.035081  deciduousForest
BART_018        -71.277857      315.5        44.058474      mixedForest
BART_025        -71.313142      542.8        44.059386  evergreenForest
BART_028        -71.306532      485.7        44.054075  evergreenForest
BART_031        -71.305095      414.0        44.055533  evergreenForest

In [5]:
#List all species found at each site/plot/date combination
pvtEffort = df.pivot_table(values='daysOfTrapping',
                     index=('siteID','plotID','setDate'),
                     aggfunc="sum",
                     fill_value=0)
dfEffort = pd.DataFrame(pvtEffort)
dfEffort.head()

                            daysOfTrapping
siteID plotID   setDate
BART   BART_002 2014-06-26             112
                2014-07-10             112
                2014-07-24             112
                2014-08-07             112
                2014-08-21             112

In [14]:
#Join plot attributes to effort
dfAll = pd.merge(dfAttributes,dfEffort,how='right',left_index=True,right_index=True)
dfAll.head()

                            decimalLongitude  elevation  decimalLatitude  \
siteID plotID   setDate
BART   BART_002 2014-06-26         -71.27285      550.8        44.035081
                2014-07-10         -71.27285      550.8        44.035081
                2014-07-24         -71.27285      550.8        44.035081
                2014-08-07         -71.27285      550.8        44.035081
                2014-08-21         -71.27285      550.8        44.035081

                                  nlcdClass  daysOfTrapping
siteID plotID   setDate
BART   BART_002 2014-06-26  deciduousForest             112
                2014-07-10  deciduousForest             112
                2014-07-24  deciduousForest             112
                2014-08-07  deciduousForest             112
                2014-08-21  deciduousForest             112

In [ ]:
dfAll.to_csv(outFN)

In [ ]:
dfPin = pd.read_csv('../Scratch/BeetlePinningSummary.csv')
dfPin.columns

In [ ]:
dfBig = pd.merge(dfAll,dfPin,  how='right', right_on=['plotID','collectDate'],left_on=['plotID','setDate'])
dfBig.to_csv('../Scratch/AllData.csv',index=False)